.game-field {
    width: fit-content;
    height: fit-content;
}

.diffculty-selection {
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-bottom: 8px;
}

.diffculty-selection button {
    color: blue;
    text-decoration: underline;

    padding: 0;
    border: 0;
    background: none;
    box-shadow: none;
    border-radius: 0px;
}

.diffculty-selection button:active { color: red; }

.field-node {
    min-height: 24px;
    max-height: 24px;
    
    padding: 0;
    border: 0;
    background: none;
    box-shadow: none;
    border-radius: 0px;

    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

.state-display {
    min-height: 32px;
    max-height: 32px;

    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}